/* MONTH CALENDAR STYLES */

.rdp-root {
  --rdp-accent-color: var(--calendar-accent);
  --rdp-accent-background-color: var(--calendar-accent-background);
  --rdp-day_button-border: 3px solid transparent;
}

.rdp-months {
  display: flex;
  justify-content: center;
}

.rdp-day:hover > button {
  border: 1px solid var(--color-accent) !important;
  border-radius: 100% !important;
}

/* preview range */
.rdp-range_preview {
  background-color: var(--calendar-accent-background) !important;
  border-radius: 100% !important;
}

.rdp-day:hover.rdp-range_preview > button {
  background-color: var(--calendar-accent-background) !important;
}

.rdp-day:hover.rdp-range_preview {
  border: none !important;
  background-color: transparent !important;
}
