/* SCROLLBAR STYLES */

@layer base {
  :root {
    --sb-thumb-color: color-mix(in srgb, var(--foreground) 50%, black 10%);
    --sb-track-color: color-mix(in srgb, var(--background) 90%, black 10%);
  }

  .dark {
    --sb-thumb-color: color-mix(in srgb, var(--foreground) 50%, white 10%);
    --sb-track-color: color-mix(in srgb, var(--background) 90%, white 10%);
  }
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar {
  width: 16px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: var(--sb-track-color);

  /* floating track */
  border: 4px solid transparent;
  border-radius: 100vh;
  background-clip: padding-box;

  /* vertical spacing on top and bottom of track */
  margin-block: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--sb-thumb-color);

  /* floating track */
  border: 4px solid transparent;
  border-radius: 100vh;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--foreground);
}
