/* FROSTED GLASS */

.frosted-glass {
  backdrop-filter: blur(var(--blur-sm));
  /* copied from the generated tailwind css */
  border-style: var(--tw-border-style);
  border-width: 1px;
  /* dark background */
  background-color: color-mix(
    in srgb,
    var(--color-violet) 20%,
    color-mix(in srgb, var(--color-background) 50%, transparent)
  );
  @supports (color: color-mix(in lab, red, red)) {
    background-color: color-mix(
      in oklab,
      var(--color-violet) 20%,
      color-mix(in srgb, var(--color-background) 50%, transparent)
    );
  }
  /* dark border */
  border-color: color-mix(
    in srgb,
    var(--color-violet) 40%,
    color-mix(in srgb, var(--color-background) 50%, transparent)
  );
  @supports (color: color-mix(in lab, red, red)) {
    border-color: color-mix(
      in oklab,
      var(--color-violet) 40%,
      color-mix(in srgb, var(--color-background) 50%, transparent)
    );
  }
  /* dark mode stuff */
  &:where(.dark, .dark *) {
    /* light background */
    background-color: color-mix(
      in srgb,
      var(--color-white) 10%,
      color-mix(in srgb, var(--color-background) 50%, transparent)
    );
    @supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(
        in oklab,
        var(--color-white) 10%,
        color-mix(in srgb, var(--color-background) 50%, transparent)
      );
    }
    /* light border */
    border-color: color-mix(
      in srgb,
      var(--color-white) 20%,
      color-mix(in srgb, var(--color-background) 50%, transparent)
    );
    @supports (color: color-mix(in lab, red, red)) {
      border-color: color-mix(
        in oklab,
        var(--color-white) 20%,
        color-mix(in srgb, var(--color-background) 50%, transparent)
      );
    }
  }

  /* shadow */
  box-shadow: var(--shadow-md);
}

.frosted-glass .frosted-glass {
  border-width: 0px;

  /* copied from the generated tailwind css */
  /* ALWAYS light background so it's not too dark against the parent glass */
  background-color: color-mix(
    in srgb,
    var(--color-background) 60%,
    transparent
  );
  @supports (color: color-mix(in lab, red, red)) {
    background-color: color-mix(
      in oklab,
      var(--color-background) 60%,
      transparent
    );
  }

  /* dark mode stuff */
  &:where(.dark, .dark *) {
    background-color: color-mix(
      in srgb,
      var(--color-background) 75%,
      transparent
    );
    @supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(
        in oklab,
        var(--color-background) 75%,
        transparent
      );
    }
  }

  /* no shadow on nested glass */
  box-shadow: none;
}

.frosted-glass .frosted-glass-button {
  &:hover {
    background-color: color-mix(
      in srgb,
      var(--color-background) 90%,
      transparent
    );
    @supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(
        in oklab,
        var(--color-background) 90%,
        transparent
      );
    }

    &:where(.dark, .dark *) {
      background-color: color-mix(in srgb, var(--color-white) 20%, transparent);
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(
          in oklab,
          var(--color-white) 20%,
          transparent
        );
      }
    }
  }

  &:active {
    background-color: transparent;

    &:where(.dark, .dark *) {
      background-color: color-mix(
        in srgb,
        var(--color-background) 90%,
        var(--color-black) 10%
      );
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(
          in oklab,
          var(--color-background) 90%,
          var(--color-black) 10%
        );
      }
    }
  }
}

.frosted-glass .frosted-glass-button-loading {
  background-color: color-mix(in srgb, var(--color-white) 30%, transparent);
  @supports (color: color-mix(in lab, red, red)) {
    background-color: color-mix(in oklab, var(--color-white) 30%, transparent);
  }

  &:where(.dark, .dark *) {
    background-color: transparent;
  }
}

.frosted-glass .frosted-glass-error-button {
  background-color: color-mix(
    in srgb,
    var(--color-error) 40%,
    color-mix(in srgb, var(--color-background) 50%, transparent)
  );
  @supports (color: color-mix(in lab, red, red)) {
    background-color: color-mix(
      in oklab,
      var(--color-error) 40%,
      color-mix(in srgb, var(--color-background) 50%, transparent)
    );
  }

  &:hover {
    background-color: color-mix(
      in srgb,
      var(--color-error) 75%,
      color-mix(in srgb, var(--color-background) 50%, transparent)
    );
    @supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(
        in oklab,
        var(--color-error) 75%,
        color-mix(in srgb, var(--color-background) 50%, transparent)
      );
    }
  }

  &:active {
    background-color: color-mix(in srgb, var(--color-error) 100%, transparent);
    @supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(
        in oklab,
        var(--color-error) 100%,
        transparent
      );
    }
  }
}
