@import "tailwindcss";
@import "react-day-picker/style.css";

@import "./tailwind.css";
@import "./text.css";
@import "./frosted-glass.css";
@import "./month-calendar.css";
@import "./centered-absolute.css";

/* GLOBAL STYLES */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito);

  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

*,
*::before,
*::after {
  transition-property: background-color, border-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
