@import "tailwindcss";
@import "react-day-picker/style.css";

@import "./tailwind.css";
@import "./text.css";
@import "./frosted-glass.css";
@import "./month-calendar.css";
@import "./centered-absolute.css";
@import "./radix.css";

/* GLOBAL STYLES */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito);
}

:root {
  --time-picker-bg: var(--background);
  --time-picker-text: var(--foreground);
  --time-picker-text-secondary: #9ca3af;
  --time-picker-primary: var(--accent);
  --time-picker-primary-light: rgba(59, 130, 246, 0.1);
}
