@import "tailwindcss";
@import "react-day-picker/style.css";

@import "./tailwind.css";
@import "./text.css";
@import "./frosted-glass.css";
@import "./month-calendar.css";

/* GLOBAL STYLES */

:root {
  --background: var(--color-white);
  --foreground: var(--color-violet);
}

.dark {
  --background: var(--color-violet);
  --foreground: var(--color-bone);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito);
}
