@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #3E505B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3E505B;
    --foreground: #f5f5f5;
  }
}

.dark {
  --background: #3E505B;
  --foreground: #f5f5f5;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), system-ui, sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-slideUpAndFade: slideUpAndFade 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideRightAndFade: slideRightAndFade 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideDownAndFade: slideDownAndFade 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideLeftAndFade: slideLeftAndFade 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideUp: slideUp 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideDown: slideDown 400ms cubic-bezier(0.16, 1, 0.3, 1);

  @keyframes slideUpAndFade {
      0% {
        opacity: 0;
        transform: translateY(2px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
  }
  
  @keyframes slideRightAndFade {
      0% {
        opacity: 0;
        transform: translateX(-2px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
  }
  @keyframes slideDownAndFade: {
      0% {
        opacity: 0;
        transform: translateY(-2px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  
  @keyframes slideLeftAndFade {
      0% {
        opacity: 0;
        transform: translateX(2px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes slideDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100%);
    }
  }
  
}

@theme {
  --color-white: oklch(0.97 0 0);
  
  --color-red: oklch(69.1% 0.1987 23.91);
  --color-red-100: oklch(96.1% 0.003 23.91);
  --color-red-200: oklch(94.6% 0.0106 23.91);
  --color-red-300: oklch(91.9% 0.0252 23.91);
  --color-red-400: oklch(88.5% 0.0578 23.91);
  --color-red-500: oklch(85.1% 0.0778 23.91);
  --color-red-600: oklch(81.3% 0.0879 23.91);
  --color-red-700: oklch(76% 0.0986 23.91);
  --color-red-800: oklch(69.7% 0.1225 23.91);
  --color-red-900: oklch(69.1% 0.1987 23.91);
  --color-red-1000: oklch(65.3% 0.1987 23.91);
  --color-red-1100: oklch(52.5% 0.1987 23.91);
  --color-red-1200: oklch(34.4% 0.0939 23.91);

  --color-dblue: oklch(42% 0.029 235.21);
  --color-dblue-100: oklch(95.9% 0.0027 235.2);
  --color-dblue-200: oklch(94.7% 0.0054 235.2);
  --color-dblue-300: oklch(91.8% 0.0083 235.2);
  --color-dblue-400: oklch(89.2% 0.011 235.2);
  --color-dblue-500: oklch(86.8% 0.0136 235.2);
  --color-dblue-600: oklch(84.2% 0.0167 235.2);
  --color-dblue-700: oklch(80.6% 0.0215 235.2);
  --color-dblue-800: oklch(74.5% 0.0298 235.2);
  --color-dblue-900: oklch(59.4% 0.0311 235.2);
  --color-dblue-1000: oklch(55.9% 0.0313 235.2);
  --color-dblue-1100: oklch(45.5% 0.029 235.2);
  --color-dblue-1200: oklch(24.1% 0.0255 235.2);
}
