name: "Merge Protect"
permissions:
  contents: read
  pull-requests: write

on:
  pull_request:
    # Having edited here updates the check when changing the base branch
    types: [synchronize, opened, reopened, edited]

jobs:
  check_branch:
    runs-on: ubuntu-latest
    steps:
      - name: Check branch
        if: github.base_ref == 'main'
        run: |
          if [[ ! "${{ github.head_ref }}" =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "Error: You can only merge to main from version branches (e.g. v1.2.3)."
            exit 1
          fi
